body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
}

.wrapper-gameplay {
    min-height: 100vh;
    background: #ccc;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    height: 50px;
    background: #666;
    color: #fff;
}

.content {
    display: flex;
    flex: 1;
    background: #999;
    color: #000;
}

.columns {
    display: flex;
    flex: 1;
}

.main {
    flex: 1;
    order: 2;
    background-size: cover;
    background-image: url(oceano.gif);
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.wrapper_areas {
    display: flex;
    justify-content: space-around;
}

aside {
    text-align: center;
}

.aside__title {
    text-shadow: 1px 1px 0 #ffffff9c;
    color: #946806;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: .8rem;
}

.aside__counter {
    text-shadow: 1px 1px 0 #ffffff9c;
    color: #946806;
    letter-spacing: 1px;
    margin: .5rem 0;
    font-size: .7rem;
}

.sidebar-first {
    width: 15%;
    background: url('2.jpg');
    order: 1;
}

.sidebar-second {
    width: 15%;
    order: 3;
    background: url('2.jpg');
}

.avatar {
    position: relative;
    margin: .5rem 0;
    display: inline-block;
    max-width: 100px;
    width: 100%;
    white-space: nowrap;
    border-radius: 1000px;
    vertical-align: bottom;
    border: 4px solid #ab8c46;
    box-shadow: 1px 1px 0 #ffffffcf;
}

.avatar img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0 none;
    border-radius: 1000px;
}

.notifications-block {
    font-size: 2rem;
    text-align: center;
    color: #946806;
    margin: 2rem 0;
}

@media (max-width: 1210px) {
    .cell {
        width: 1.563rem;
        height: 1.563rem;
    }
    .areaPl,
    .areaAl {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 21.250rem;
        position: relative;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .wrapper_areas {
        justify-content: space-around;
        flex-direction: column-reverse;
    }
}